/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(8, 21, 101);
    --hit-color: #e50810;
    --miss-color: rgb(23, 122, 236);
    --sunk-color: #000;
    --blocked-color: rgba(128, 128, 128, 0.45);
    --btn-background-color: rgb(255, 215, 0);
    --sunk-border:rgb(255, 215, 0);
    --looser-color: rgb(243, 49, 97);
    --text-btn-color: #1a054f;
    --mobile-landscape-board-size: min(45vw, 80vh);
    --mobile-portrait-board-size: min(80vw, 45vh);
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63);
    color: white;
    min-height: 100vh;
}

/* Screens */
.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: inherit;
    z-index: 10;
}

.screen.active {
    display: flex;
}

/* Start Screen */
#start-screen h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 30px var(--btn-background-color);
}

#start-game-btn, #start-battle-btn  {
    padding: 18px 60px;
    font-size: 1.8rem;
    background: var(--btn-background-color);
    color: var(--text-btn-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#start-battle-btn {
    margin-top: 30px;
}


#win-screen {
    background: linear-gradient(135deg, #0f0c29, #1a054f);
    color: var(--btn-background-color);
    text-align: center;
}

#win-screen h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 40px var(--btn-background-color);
    animation: victoryGlow 2s infinite alternate;
}

@keyframes victoryGlow {
    from { text-shadow: 0 0 20px var(--btn-background-color) }
    to { text-shadow: 0 0 60px var(--btn-background-color), 0 0 80px #ffd700; }
}

#lose-screen {
    background: linear-gradient(135deg, #0f0c29, #4f050b);
    color: var(--looser-color);
    text-align: center;
}

#lose-screen h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 40px rgb(227, 99, 8);
    animation: loseGlow 2s infinite alternate;
}

@keyframes loseGlow {
    from { text-shadow: 0 0 20px rgb(238, 129, 5); }
    to { text-shadow: 0 0 60px rgb(238, 129, 5), 0 0 80px rgb(238, 129, 5); }
}

#restart-btn, #restart-btn-lose {
    padding: 18px 60px;
    font-size: 1.6rem;
    background: linear-gradient(#ffd700, #ffaa00);
    color: #1a054f;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(255, 215, 0, 0.4);
    transition: all 0.3s;
}

#restart-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 30px rgba(255, 215, 0, 0.6);
}

/* Game Screen */
.header {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin: 20px 0 10px;
    font-size: 2rem;
    font-weight: bold;
}

.request {
    margin-bottom: 30px;
}

.playground {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px;
}

.board-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-header, .board-sidebar {
    font-weight: bold;
}

.board-header {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 420px;
    margin-bottom: 5px;
    margin-left: 20px;
    
}
.players {
    display: none;
    justify-content: center;
    gap: 460px;
}

.label {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.board-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 420px;
    margin-right: 8px;
    font-weight: bold;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 4px solid var(--sunk-border);
    width: 420px;
    height: 420px;
    background-color: #0a0a1f;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
}

.cell {
    border: 1px solid #444;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;
}

/* Ships */
.cell.ship {
    background-color: var(--primary-color);
}

/* Hide ships on opponent */
#playerBoard2 .cell.ship {
    background-color: transparent;
}

/* Hit Animation */
.cell.hit {
    animation: hitExplosion 0.8s ease forwards;
    background-color: #e50810 !important;
    color: white;
}

@keyframes hitExplosion {
    0%   { transform: scale(0.6); background-color: #ffaa00; }
    40%  { transform: scale(1.25); }
    70%  { transform: scale(0.95); }
    100% { transform: scale(1); background-color: #e50810; }
}

/* Miss Animation */
.cell.miss {
    animation: missSplash 0.6s ease;
    background-color: var(--miss-color) !important;
    color: white;
}

@keyframes missSplash {
    0%   { transform: scale(0.8); opacity: 0.6; }
    100% { transform: scale(1); opacity: 1; }
}

/* Sunk */
.cell.sunk {
    background-color: var(--sunk-color) !important;
    border-color: var(--sunk-border);
    animation: sunkAnimation 0.8s ease forwards;
}

@keyframes sunkAnimation {
    0% {
        filter: brightness(1.8);
        transform: scale(1.05);
    }
    100% {
        filter: brightness(1);
        transform: scale(1);
    }
}

/* Hover */
#playerBoard2 .cell:hover:not(.hit):not(.miss) {
    background-color: rgba(255, 215, 0, 0.3);
}

.cell.blocked {
    background-color: var(--blocked-color) !important;
}

.cell.blocked.hit,
.cell.blocked.miss {
    opacity: 0.7;   /* slightly dim attacked blocked cells */
}

.playingArea {
    display: flex;
    gap: 30px;
}

.ship-yard {
    width: 220px;
    background: rgba(0,0,0,0.3);
    padding: 15px;
    border-radius: 8px;
    border: 2px solid var(--sunk-border);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ship-yard h3 {
    margin-bottom: 20px;
}

.ship-yard h6 {
    margin-top: 20px;
}


.ships-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.ship-item {
    height: 42px;
    background: var(--primary-color);
    border-radius: 4px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    user-select: none;
    border: 2px solid red
    
}

.ship-item.dragging {
    opacity: 0.5;
}

.cell.ship-preview {
    background-color: rgba(0, 255, 0, 0.3) !important;
    border-color: lime;
}

.lower-btns {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#random-btn, #reset-ships-btn {
    padding: 9px 30px;
    font-size: 1rem;
    background: rgb(212, 142, 28);
    color: var(--text-btn-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#error-message {
    text-align: center;
    padding-top: 30px;
    color: red;
    display: none;
}

@media (orientation: portrait) and (max-width: 600px) {
    .playground {
        flex-direction: column;
        gap: 4vh;
        padding: 0px;
    }

    .board-sidebar {
        display: none;
    }

    .board-header {
        display: none;
    }

    .board-wrapper {
        margin: 0px;
    }

    .board {
        width: var(--mobile-portrait-board-size);         
        height: var(--mobile-portrait-board-size);
    }

    .header {
        gap: 20px;
        margin: 0px;
    }

    .players {
        display: none;
    }

    .player-label {
        display: none;
    }

    .playground-wrap {
        display: flex;
        flex-direction: column;
    }

    .ship-yard {
        display: none;
    }

    .under-gameboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 4vh;
        padding-right: 4vh;
    }

    .lower-btns {
        flex-direction: column;
        margin-top: 4vh;
        gap: 4vh;
        align-self: center;
    }

    #random-btn, #reset-ships-btn {
        padding: 1vh 2vh;
        border-radius: 10px;
        align-self: center;
    }

    #error-message {
        font-size: small;
        text-align: center;
    }

    #start-game-btn, #start-battle-btn, #restart-btn, #restart-btn-lose  {
        padding: 1vh 2vh;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    #start-battle-btn {
        margin: 1vh 2vh;;
    }

    .request {
        margin: 1vh 2vh;
        text-align: center;
        font-size: medium;
    }

    .screen {
        gap: 4vh;
    }

    #start-screen h1, #lose-screen h1, #win-screen h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}

/* Landscape (phone rotated) */
@media (orientation: landscape) and (max-height: 600px) {


    .playground {
        flex-direction: row;
        gap: 4vw;
        padding: 0px;
    }

    .board-sidebar {
        display: none;
    }

    .board-header {
        display: none;
    }

    .board-wrapper {
        margin: 0px;
    }

    .board {
        width: var(--mobile-landscape-board-size);         
        height: var(--mobile-landscape-board-size);
    }

    .header {
        gap: 20px;
        margin: 0px;
    }

    .players {
        display: none;
    }

    .player-label {
        display: none;
    }

    .playground-wrap {
        display: flex;
    }

    .ship-yard {
        display: none;
    }

    .under-gameboard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .lower-btns {
        flex-direction: column;
        margin-top: 4vw;
        gap: 4vw;
        align-self: center;
    }

    #random-btn, #reset-ships-btn {
        padding: 1vw 2vw;
        border-radius: 10px;
        /* width: 20vw; */
        align-self: center;
    }

    #error-message {
        font-size: small;
        text-align: center;
        margin-bottom: 10vw;
    }

    #start-game-btn, #start-battle-btn, #restart-btn, #restart-btn-lose  {
        padding: 1vw 2vw;
        font-size: 1.2rem;
        border-radius: 10px;
    }

    #start-battle-btn {
        margin: 1vw 2vw;;
    }

    .request {
        margin: 1vw 2vw;
        text-align: center;
        font-size: medium;
    }

    .screen {
        flex-direction: row;
        gap: 0px;
    }

    #win-screen, #lose-screen, #start-screen {
        flex-direction: column;
    }

    #start-screen h1, #lose-screen h1, #win-screen h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
}